#wrapper{
  width: 960px;
  margin-left: 60px auto;
  margin-right: 60px auto;
  color:white;


}


body {

width: 500px;


font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

background-image:url('../images/seamless_paper_texture.png');


}


header {
  
  width: 960px;
  background-color: #ffffff;
  border-color: #cccccc;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  padding: 30px;
  color: gray;
  float:left;


}


.boxed {
  float:left;
  border: 1px solid black;
  background-color: #4aaaa5;
  text-align: center;
  color:white;
  margin-left: 40px;
  width: 400px;

}



.page-shortcuts {
  width: 250px;
  float: right;

}


.name-section-line {
  display: block;
    height: 1px;
    margin: 10px;
    padding: 30;
    color:#777777;
    border: 10px;


}



.content {
  margin-left:65px;
  height: 400px;
  align-content: center
  border: 1px, solid black;
  font-size: 20px;

  width: 650px;
  background-color: #ffffff;

  color: #4aaaa5;

  float:left;
  padding: 15px;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  
  
}




.about-line {
  display: block;
    height: 1px;
    margin: 10px;
    padding: 20;
    color:#777777;
    border: 10px;

}



p {

  color: #777777;
}


.Contact {
  color:#4aaaa5;
  height: 170px;
  float: left;
  width: 200px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid black;
  padding: 6px;
  margin-right: 5px;
  margin-left: 50px;
  margin-top: 30px;
  font-family: 'Georgia', Times, "Times New Roman", serif;


}



footer {
  
  width: 960px;

  clear: both;
  overflow: auto;
  color: #ffffff;
  background-color: #666666;

  padding: 40px;
  color:#D3D3D3;

  text-align: center;

}

