body {

background-image: url('../images/seamless_paper_texture.png');

  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}


header {
  
  background-color: #ffffff;
  border-color: #cccccc;
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding: 20px;
  color: white;

}


.boxed {
  border: 1px solid black;
  background-color: #4aaaa5;

  width: 28%;
  text-align: center;

}



.container {
  margin-left:100px;
  align-content: center
  border: 1px solid #777777;
  font-size: 25px;

  width: 60%;
  border-color: #dddddd;
  background-color: #ffffff;

  color: #4aaaa5;

  float:left;
  

}




.aboutline {
  display: block;
    height: 1px;
    margin: 10px;
    padding: 20;
    color:#777777;
    border: 10px;

}



p {

  color: #777777;
}


.Contact {
  
  width: 15%;

  background-color: #ffffff;

  text-align: center;

  border: 1px solid black;

  padding: 10px;

  float: right;

  margin-right: 100px;

}



footer {

  clear: both;

  color: #ffffff;

  background-color: #666666;

  padding: 30px;
  
  text-align: center;

}

